dev.vibriocholera.com:8080 {
    root /home/blast/dev/www/www/
    ipfilter / {
    allow
    ip 143.215
    }
    tls off
    gzip
}

dev.t6ss.vibriocholera.com:8080 {
    tls off
    ipfilter / {
    allow
    ip 143.215
    }
    proxy /websocket/ http://127.0.0.1:4646 {
    	websocket
    }
    proxy / http://127.0.0.1:4646 {
        proxy_header Host {host}
        proxy_header X-Real-IP {remote}
        proxy_header X-Forwarded-Proto {scheme}
    }
}
